<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
	
    <link href="/css/icon-fonts.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" type="img/png" href="/img/favicon.png">

	<title>TheSoloTraveler | Wild or Nothing</title>
</head>
<body>
    <nav class="navigation">
        <input type="checkbox" value="" class="navigation__check" id="check" />
        <label class="navigation__button" for="check">
            <span class="navigation__icon">&nbsp;</span>
        </label>


        <div class="navigation__background">&nbsp;</div>

        <div class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Your benefit</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Popular Tours</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Stories</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link">Book Now</a></li>
                <li class="navigation__item"><a href="/blogs" class="navigation__link">Blog</a></li>
                <li class="navigation__item"><a href="/newTour" class="navigation__link">List Your Hotel</a></li>
                <li class="navigation__item"><a href="/register" class="navigation__link">Sign Up</a></li>
                <li class="navigation__item"><a href="/login" class="navigation__link">Login</a></li>
                
            </ul>
        </div>
    </nav>
